<main class="main-content mt-0" style="position: relative !important;">
    <div class="page-header align-items-start min-vh-100"
        style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-4 col-md-8 col-12 mx-auto">
                    <div class="card z-index-0 fadeIn3 fadeInBottom">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                              <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Sign in</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- <form role="form" class="text-start"> -->
                                <div class="form-floating mb-3 px-3 input-outline pt-2 pb-3" style="height: 63px !important;">
                                    <input type="email" class="form-control inp px-3 mt-2 pb-3" id="myemail" formControlName="email" placeholder="">
                                    <label for="myPassword" class="px-2">Email</label>
                                </div>
                                <div class="form-floating mb-3 px-3 input-outline pt-2 pb-3 mt-4" style="height: 63px !important;">
                                    <input type="password" class="form-control inp px-3 mt-2 pb-3" id="floatingInput" formControlName="password" placeholder="">
                                    <label for="floatingInput" class="px-2">Password</label>
                                </div>
                                <div class="text-center">
                                    <button (click)="login()" class="btn bg-gradient-primary w-100 my-4 mb-2">Sign
                                        in</button>
                                </div>
                            <!-- </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>